
# NODE ENVIRONMENTS: 
NODE_ENV=development

# PORT: 
PORT=5000

# DATABASE CONFIG: 
DATABASE_URL=

# SITE CONFIG : 
SITE_NAME=EXAMPLE SITE
SITE_LOGO=
SITE_PRIMARY_COLOR=
SITE_SECONDARY_COLOR=
SITE_ACCENT_COLOR=
SITE_FEE=0.05
SITE_GST_FEE=0.10

# PASSWORD CONFIG: 
PASSWORD_SOLT_ROUND=12

# EMAIL CONFIG (NODEMAILER)
NODE_APP_PASSWORD=
NODE_APP_EMAIL=


# STRIPE KEYS AND CONFIG:
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBOOK_KEY=
STRIPE_SUCCESS_URL=http://localhost:3000/success
STRIPE_CANCEL_URL=http://localhost:3000/cancel
# STRIPE_PRICE_ID=
STRIPE_FIXED_FEE=0.30 
STRIPE_FEE=0.029


# JWT SECRET CONFIG: 
## ACCESS : 
ACCESS_TOKEN_SECRET=secret
ACCESS_TOKEN_EXPIRES=1d

## REFRESH : 
REFRESH_TOKEN_SECRET=secret
REFRESH_TOKEN_EXPIRES=1d

## RESET: 
RESET_TOKEN_SECRET=secret
RESET_TOKEN_EXPIRES=1d

# AWS S3 CONFIG: (FILE UPLOAD)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=


# SUPER ADMIN CONFIG: 
SUPER_ADMIN_PASSWORD=test123@PASS
SUPER_ADMIN_EMAIL=dev.mostafiz04@gmail.com
